In [16]:
import pandas as pd 
import numpy as np 
import sys
sys.path.append("..")

from my_modules import my_functions as mybib


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

load datasets

In [17]:
accidents18 = pd.read_csv('../data/input/road_accidents/berlin_road_accidents_2018.csv', sep=';', encoding = 'latin1')
print('2018')
display(accidents18.head())

accidents19 = pd.read_csv('../data/input/road_accidents/berlin_road_accidents_2019.csv', sep=';', encoding = 'latin1')
print('2019')
display(accidents19.head())

accidents20 = pd.read_csv('../data/input/road_accidents/berlin_road_accidents_2020.csv', sep=';', encoding = 'latin1')
print('2020')
display(accidents20.head())

accidents21 = pd.read_csv('../data/input/road_accidents/berlin_road_accidents_2021.csv', sep=';', encoding = 'latin1')
print('2021')
display(accidents21.head())

2018

,OBJECTID,LAND,BEZ,LOR,STRASSE,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig,STRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,112695,11,2,2050602.0,Samariterviertel,2500729.0,2018,1,15,4,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,112705,11,12,12304314.0,Ziekowstraße/Freie Scholle,12500824.0,2018,1,11,2,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,112726,11,2,2040501.0,Barnimkiez,2400520.0,2018,1,9,3,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
3,112737,11,7,7020202.0,Volkspark (Rudolf-Wilde-Park),7200308.0,2018,1,17,2,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
4,112747,11,3,3020209.0,Niederschönhausen,3200206.0,2018,1,15,4,...,0,1,0,0,0,1,"798261,3849","5835047,26","13,40322797","52,58347154"

2019

,OBJECTID,LAND,BEZ,LOR,STRASSE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,49090,11,12,12301203,Wittenau Süd,2019,1,13,6,3,...,1,0,0,0,0,1,"794062,2837","5835083,823","13,34146","52,58609"
1,49091,11,3,3040818,Pankow Süd,2019,1,9,5,3,...,1,0,0,0,0,0,"799130,4007","5832327,415","13,41356","52,55862"
2,49093,11,12,12103115,Breitkopfbecken,2019,3,21,6,3,...,0,0,0,0,0,0,"795437,613","5833549,454","13,36034","52,57159"
3,49096,11,6,6040703,Nikolassee,2019,1,7,6,2,...,1,1,0,0,0,1,"786714,3754","5817042,137","13,21777","52,42825"
4,49097,11,7,7030303,Grazer Platz,2019,2,15,3,3,...,1,0,0,0,0,0,"796074,3342","5822724,905","13,36007","52,47421"

2020

,OBJECTID,LAND,BEZ,LOR,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,3187,11,8,8010510.0,8100521.0,2020,1,11,4,2,...,1,0,0,1,0,1,"802599,5332","5821795,373","13,45500598","52,4623009"
1,3198,11,4,4041137.0,4400727.0,2020,1,2,3,2,...,0,0,0,1,0,1,"791264,2064","5824629,955","13,29111618","52,49387309"
2,3215,11,4,4041239.0,4400830.0,2020,1,7,1,3,...,0,0,0,0,1,1,"792294,8083","5823598,115","13,30534822","52,48407191"
3,3224,11,2,2040502.0,2400521.0,2020,1,22,6,2,...,1,0,0,0,0,0,"801024,2746","5827862,923","13,43737099","52,517556"
4,3241,11,4,4041137.0,4400727.0,2020,1,17,1,3,...,0,0,1,0,0,1,"791889,2861","5824003,006","13,29974796","52,48791866"

2021

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,219249,11,3,3701658.0,2021,11,18,2,3,0,...,1,0,1,0,0,1,"800202,0742","5829640,204","13,42689483","52,53393955"
1,219248,11,7,7501134.0,2021,12,19,7,3,6,...,1,1,0,0,0,1,"798479,5317","5819049,219","13,39209027","52,43995086"
2,219247,11,4,4100101.0,2021,12,17,4,3,5,...,1,0,0,0,0,0,"793352,6128","5829680,195","13,32624193","52,53802784"
3,219246,11,4,4501041.0,2021,12,15,7,3,5,...,1,0,1,0,0,1,"792950,0395","5825362,081","13,31652064","52,49953417"
4,219243,11,11,11501339.0,2021,12,9,5,3,3,...,1,0,0,0,1,2,"807182,01","5825602,793","13,52575163","52,49386714"

column_names cleaning

In [18]:
accidents18 = mybib.clean_column_names(accidents18)
accidents19 = mybib.clean_column_names(accidents19)
accidents20 = mybib.clean_column_names(accidents20)
accidents21 = mybib.clean_column_names(accidents21)

In [19]:
accidents18.rename(columns={'strzustand':'ustrzustand'}, inplace=True)
accidents18.rename(columns={'istsonstig':'istsonstige'}, inplace=True)
accidents19.insert(5, 'lor_ab_2021', '')
accidents20.insert(4, 'strasse', '')
accidents21.insert(3, 'lor', '')
accidents21.insert(4, 'strasse', '')

In [20]:
# # check columns 

# columns = len(accidents18.columns)

# for i in range(columns):
#     print(i)
#     print(accidents18.columns[i])
#     print(accidents19.columns[i])
#     print(accidents20.columns[i])
#     print(accidents21.columns[i])

Concat dataframes

In [21]:
accident_data = pd.concat([accidents18, accidents19, accidents20, accidents21], axis=0)
accident_data = accident_data.drop(columns=['land'])
accident_data.shape

(50119, 24)

In [22]:
accident_data.dtypes

objectid        int64
bez             int64
lor            object
strasse        object
lor_ab_2021    object
ujahr           int64
umonat          int64
ustunde         int64
uwochentag      int64
ukategorie      int64
uart            int64
utyp1           int64
ulichtverh      int64
istrad          int64
istpkw          int64
istfuss         int64
istkrad         int64
istgkfz         int64
istsonstige    object
ustrzustand    object
linrefx        object
linrefy        object
xgcswgs84      object
ygcswgs84      object
dtype: object

In [23]:
# fill NaN values
accident_data = accident_data.fillna('0')
accident_data = accident_data.replace("",'0')

In [24]:
def change_to_int(x):
    if isinstance(x, int):
        return x
    else: 
        if x == '0':
            x = int(0)
        elif x == '1':
            x = int(1)
        else:
            x = int(0)   

        return x

In [25]:
accident_data['lor'] = accident_data['lor'].astype(float)
accident_data['lor'] = accident_data['lor'].astype('Int64')

accident_data['lor_ab_2021'] = accident_data['lor_ab_2021'].astype(float)
accident_data['lor_ab_2021'] = accident_data['lor_ab_2021'].astype('Int64')

accident_data['lor_ab_2021'] = accident_data['lor_ab_2021'].astype(float)
accident_data['lor_ab_2021'] = accident_data['lor_ab_2021'].astype('Int64')


accident_data['istsonstige'] = accident_data['istsonstige'].apply(lambda x: change_to_int(x))
accident_data['ustrzustand'] = accident_data['ustrzustand'].apply(lambda x: change_to_int(x))


accident_data['linrefx'] = accident_data['linrefx'].str.replace(",",'.').astype(float)
accident_data['linrefy'] = accident_data['linrefy'].str.replace(",",'.').astype(float)
accident_data['xgcswgs84'] = accident_data['xgcswgs84'].str.replace(",",'.').astype(float)
accident_data['ygcswgs84'] = accident_data['ygcswgs84'].str.replace(",",'.').astype(float)

accident_data.rename(columns={'xgcswgs84': 'longitude'}, inplace=True)
accident_data.rename(columns={'ygcswgs84': 'latitude'}, inplace=True)

In [27]:
accident_data.columns

Index(['objectid', 'bez', 'lor', 'strasse', 'lor_ab_2021', 'ujahr', 'umonat',
       'ustunde', 'uwochentag', 'ukategorie', 'uart', 'utyp1', 'ulichtverh',
       'istrad', 'istpkw', 'istfuss', 'istkrad', 'istgkfz', 'istsonstige',
       'ustrzustand', 'linrefx', 'linrefy', 'longitude', 'latitude'],
      dtype='object')

In [28]:
# print(accident_data.dtypes)

key = accident_data['objectid'].astype(str) + '-' + accident_data['ujahr'].astype(str)
accident_data.insert(0, 'key', key)

In [29]:
accident_data.to_csv('../data/temp/raw_accident_dataset_2018-2021.csv', index = False)